.container {
    height: 200px;
    box-sizing: content-box;
    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* grid-template-columns: 1fr 2fr 2fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: 100px; */
    grid-template-rows: minmax(auto);
    display: grid;
}

.box1 {
    background-color: red;
}

.box2 {
    background-color: blue;
}

.box3 {
    background-color: brown;
}

.box4 {
    background-color: green;
}

.box5 {
    background-color: violet;
}

.box6 {
    background-color: lightcyan;
}

.box7 {
    background-color: crimson;
}

.box8 {
    background-color: aqua;
}
