li {
    font-variant: small-caps; /*소문자를 소문자 크기로 대문자로 표출*/
}
#content1 {
    font-weight: bold;
}

#content2 {
    font-weight: bolder;
}

#content3 {
    font-weight: lighter;
}

#content4 {
    font-weight: 900;
}